<div class="container">
  <div class="flex">
    <div>
      <h1>Muhamad Sobari</h1>
    </div>
    <div class="second-section">
      <span class="angular" [routerLink]="[ '/angular']">angular</span>
      <span class="html">HTML</span>
      <span class="css">CSS</span>
      <span class="javascript" [routerLink]="[ '/javascript']">Javascript</span>
      <span class="typescript">Typescript</span>
      <span class="dom">DOM</span>
      <span class="rxjs">Rxjs</span>
      <span class="laravel">Laravel</span>
    </div>
  </div>
</div>
